body {
    display: flex;
}

.display {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    position: relative;
    outline-style: solid;
    border-radius: 10px;
}

#image {
    margin: 10px;
    outline-style: solid;
}

.title {
    outline-style: solid;
    padding: 10px;
    border-radius: 10px;
}

.title button {
    border-radius: 10px;
    width: 300px;
    background-color: white;
    border: 0px;
    outline-style: solid;
    outline-width: 2px;
    padding: 3px;
}
.title button:hover {
    background-color: rgb(215, 215, 215);
    outline-width: 5px;
}

.title h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}